@import "tailwindcss";

:root {
  --foreground: 0, 0, 0;
  --background: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: 255, 255, 255;
    --background: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground));
  background: rgb(var(--background));
  font-family: Arial, Helvetica, sans-serif;
}
